/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* 
   font-family: 'Open Sans', sans-serif;
   font-family: 'Oswald', sans-serif;
   font-family: 'PT Sans', sans-serif;
 */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}


/* globales */

img {
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.seccion {
    padding: 30px 0;
}

.seccion p {
    font-size: 1.2em;
    text-align: center;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}

h2::after {
    content: "";
    margin: 0 auto;
    background-image: url(../img/separador.png);
    width: 100px;
    height: 30px;
    display: block;
    color: #ff4918;
}

h3 {
    font-size: 1.7em;
    color: #ff4918;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

.button {
    padding: 10px 20px;
    background-color: #ff4918;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    font-weight: bold;
    transition: all .2s ease-in-out;
}
.button.transparente{
    background-color: transparent;
    border: 1px solid #fff;
}
.button.transparente:hover{
    border-color: #ff4918;
}
.button.hollow,
.button.hollow:hover{
    background-color: #fff;
    color: #ff4918;
    border: 1px solid #ff4918;
}

.button:hover {
    background-color: #e33000;
}

.contenedor {
    width: 95%;
    margin: 0 auto;
}

.float-right {
    float: right;
}

@media (min-width: 768px) {
    .contenedor {
        width: 93%;
    }
}


/* ------   */

div.hero {
    background-image: url(../img/encabezado.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
}

div.contenido-header {
    padding-top: 40px;
}

@media (min-width: 768px) {
    div.contenido-header {
        padding-top: 10px;
    }
}

nav.redes-sociales {
    text-align: center;
}

nav.redes-sociales a {
    color: #fff;
    font-size: 30px;
    margin-right: 8px;
}

nav.redes-sociales a:last-of-type {
    margin-right: 0;
}

div.informacion-evento {
    text-align: center;
    color: #fff;
    max-width: 90%;
    margin: 10px auto;
}

@media (min-width: 768px) {
    div.informacion-evento {
        max-width: 80%;
    }
}

div.informacion-evento p {
    display: inline;
    font-size: 17px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    div.informacion-evento p {
        font-size: 20px;
    }
}

div.informacion-evento p i {
    color: crimson;
    font-size: 1.5rem;
    margin-right: 10px;
}

@media (min-width: 768px) {
    div.informacion-evento p i {
        font-size: 2rem;
    }
}

p.fecha {
    float: left;
}

p.ciudad {
    float: right;
}

h1.nombre-sitio {
    font-size: 7.9vw;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

@media (min-width: 768px) {
    h1.nombre-sitio {
        font-size: 9.5vw;
        line-height: 1;
    }
}

p.slogan.sl {
    /*  sl especifico */
    text-transform: none;
}

p.slogan span {
    font-weight: bold;
}


/* barra */

div.barra {
    background-color: #353535;
    padding: 10px 0;
}

div.logo {
    width: 60%;
    float: left;
}

div.logo img {
    width: 100%;
}

@media (min-width: 768px) {
    div.logo {
        width: 30%;
    }
}

nav.menu-principal {
    display: block;
}

@media (min-width: 768px) {
    nav.menu-principal {
        float: right;
        width: 70%;
        text-align: right;
    }
}

nav.menu-principal a {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 12px;
    transition: .2s all ease-in-out;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

nav.menu-principal a:last-of-type {
    border: 1px solid #ff4918;
    color: #ff4918;
}

nav.menu-principal a:last-of-type:hover {
    background-color: #fff;
    /* . */
}

nav.menu-principal a:hover {
    background-color: #ff4918;
}

@media (min-width: 768px) {
    nav.menu-principal a {

        margin-right: 8px;
        margin-top: 8px;
        width: auto;
        margin-bottom: 0; 
    }
    nav.menu-principal a:last-of-type {
        margin-right: 0;
    }
}

div.menu-movil {
    width: 60px;
    text-align: right;
    margin-top: 12px;
    display: block;
    float: right;
}

div.menu-movil:hover {
    cursor: pointer;
}

div.menu-movil span {
    background-color: #fff;
    margin-bottom: 5px;
    display: block;
    height: 6px;
}

@media (min-width: 768px) {
    div.menu-movil {
        display: none;
    }
}


/* programa del evento */

section.programa {
    position: relative;
}

div.contenedor-video {
    max-height: 100%;
    overflow-x: hidden;
    
}

div.contenido-programa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div.programa-evento {
    background-color: rgba(255, 255, 255, .8);
    padding: 15px;
    margin-top: 50px;
}

@media (min-width: 768px) {
    .programa-evento {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .programa-evento {
        width: 50%;
    }
}

nav.menu-programa {
    border-bottom: 1px solid #ff4918;
    width: 100%;
    padding-bottom: 20px;
    
}

nav.menu-programa a {
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    nav.menu-programa a {
        display: inline;
    }
}

nav.menu-programa a i,
div.detalle-evento p i {
    margin-right: 7px;
    color: #ff4918;
    font-size: 25px;
}

div.info-curso {
    padding-top: 30px;
}

div.detalle-evento {
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    padding: 0 10px;
}

div.detalle-evento:last-of-type {
    border-bottom: none;
}

div.detalle-evento p {
    padding-bottom: 6px;
    font-size: 20px;
}


/* invitados */

.lista-invitados li {
    float: left;
    padding: 10px;
}

@media (min-width: 480px) {
    .lista-invitados li {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .lista-invitados li {
        width: 33.3%;
    }
}

div.invitado {
    position: relative;
    overflow: hidden;
}

div.invitado img {
    filter: grayscale(1);
    transition: all .3s ease-in-out;
}

div.invitado img:hover {
    filter: none;
    transform: scale(1.1);
}

div.invitado p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    color: #ff4918;
    font-family: 'Oswald', sans-serif;
    transition: all .2s ease-in-out;
}

div.invitado:hover p {
    bottom: -80px;
    opacity: 0;
}


/* contador - resumen */

.parallax::before {
    filter: brightness(.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

div.contador {
    position: relative;
    height: auto;
}

div.contador::before {
    background-image: url(../img/bg-resumen.jpg);
    content: "";
}

ul.resumen-evento {
    position: relative;
    padding: 120px 0;
}

ul.resumen-evento li {
    width: 50%;
    float: left;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

@media (min-width: 768px) {
    ul.resumen-evento li {
        width: 25%;
    }
}

p.numero {
    color: #ff4918;
    font-size: 4em;
    margin: 0 0 10px 0;
    font-family: 'Oswald', sans-serif;
}

/* lista-precio */
.lista-precios > li{
padding: 10px;
    
}
@media (min-width: 768px) {
    .lista-precios > li{     
     
        float: left;
        width: 33.3%;
       
    }
}

div.tabla-precio{
    text-align: center;
    padding: 40px 0;
    border: 1px solid #999;
    background-color: #fff;
   transition: all .2s ease-in-out;
}
div.tabla-precio:hover{
transform: scale(1.06);
border: 1px solid #ff4918;
box-shadow: 0 0 50px #999;
}

div.tabla-precio h3{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}
div.tabla-precio p.numero{
    color: #000;
    padding-top: 10px;
}
div.tabla-precio ul li::before{
    content: "\f00c";
    font-size: 20px;
    color: green;
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 10px;
    
  
    
}
div.tabla-precio ul li{
    text-transform: uppercase;
    line-height: 3;
    color: rgb(49, 48, 48);
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

/* mapa */
.mapa{
    height: 420px;
    background-color: green;
}


/* testimoniales */

div.testimoniales{
    padding-bottom: 20px;
}
div.testimonial{
    padding: 15px;
   
}
@media (min-width: 768px) {
    div.testimonial{
        float: left;
        width: 33.3%;
    }
}
blockquote{
    background-color: #fff;
    border: 1px solid #999;
    margin: 0 0 10px 0;
    position: relative;
    padding-bottom: 10px;

}
.texto:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    /* display: inline-block; */
    margin-right: 3px;
  /*   vertical-align: top; */
    font-size: 2rem;
    font-weight: bold;
    color: #ff4918;
    top: 3px;
    left: 16px;

  }
.testimonial .texto{ 
  text-align: justify ;
font-size: 1em;
font-family: 'PT Sans', sans-serif;
padding: 0 20px 0 65px;

}

footer.info-testimonial{
    padding: 0;
   
}

footer.info-testimonial img{
    float: left;
    width: 20%;
    border-radius: 50%;
    margin-left: 15px;
    margin-bottom: 20px;
}
footer.info-testimonial cite{
    text-align: left;
    color: #ff4918;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 20px;
    width: 70%;
    float: right;
  
}
footer.info-testimonial cite span{
    color: #000;
    display: block;
    text-transform: none;
}

/* newsletter */

div.newsletter{
position: relative;
height: auto;
}
div.newsletter::before{
    background-image: url(../img/bg-newsletter.jpg);
    content: "";

}
div.newsletter .contenido{
    padding: 100px;
    color: #fff;
    text-align: center;
    position: relative;
}
div.newsletter .contenido p{
font-size: 1.6em;
text-transform: lowercase;
}
div.newsletter .contenido h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 7vw;
    font-family: 'PT Sans', sans-serif;
}

/* cuenta regresiva */

.cuenta-regresiva ul li{
    text-align: center;
    font-size: 1.6em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .cuenta-regresiva ul li{
        float: left;
        width: 25%;
    }
}

/* footer */

.site-footer{
    background-color: #353535;
    padding-top: 40px;
    margin-top: 20px;
}
.site-footer .contenedor > div {
    color: #fff;
    padding: 0 20px;
    font-size: 12px;
}
@media (min-width: 768px) {
    .site-footer .contenedor > div{
        float: left;
        width: 33.3%;
    }
    .site-footer .contenedor.menu{
        text-align: left;
    }
}
.site-footer p{
    margin-top: 0;
}

.site-footer h3{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
   
}
.site-footer h3 span{
    color: #ff4918;
}

.site-footer .ultimos-tweets li{
    margin-bottom: 20px;
}

.site-footer nav.redes-sociales{
    text-align: left;
}
.copyright{
    background-color: #2e2e2e;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
}

/* ==============================


============================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]::after {
        content: " (" attr(href) ")";
    }
    abbr[title]::after {
        content: " (" attr(title) ")";
    }
    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}